<header class="section-header bg-light lter b-b wrapper-md">
    <h2 class="m-n font-thin">Forms</h2>
</header>
<div class="wrapper-md bg-white">
    <div class="row">
        <div class="col-sm-12 connected">
            <h4>Yes/No Example</h4>
            <app-yes-no-question></app-yes-no-question>
            <hr>
            <h4>Yes with Free text and No Example</h4>
            <app-yes-free-text-no-question></app-yes-free-text-no-question>
            <hr>
            <h4>Multiple Choice Example</h4>
            <multiple-choice-question></multiple-choice-question>
            <hr>
            <h4>Free Text Example</h4>
            <div class="row">
                <div class="col-xs-3">
                    <textarea
                            class="form-control"
                            placeholder="Free text prompter text goes here"
                    ></textarea>
                </div>
            </div>
            <hr>
            <h4>Multiple Choice with Free Text Example</h4>
            <multiple-choice-free-text-question></multiple-choice-free-text-question>
            <hr>
            <h4>Yes/No with Free Text Example</h4>
            <app-yes-no-free-text-question></app-yes-no-free-text-question>
            <hr>
            <h4>Multiple Select Example</h4>
            <multiple-select-question></multiple-select-question>
            <hr>
            <h4>Date</h4>
            <date-question></date-question>
            <hr>
            <h4>Blood Pressure with Date Example</h4>
            <blood-pressure-date-question></blood-pressure-date-question>
            <hr>
            <h4>Whole Number with Date Example</h4>
            <whole-number-date-question></whole-number-date-question>
        </div>
    </div>
</div>