<header class="section-header bg-light lter b-b wrapper-md">
  <h2 class="m-n font-thin">Accordion</h2>
</header>
    <div ng-cloak>
      <md-content class="md-padding">
        <md-tabs class="md-accent-tab" md-selected="$ctrl.data.selectedIndex">
            <md-tab id="tab1">
            <md-tab-label>
              Example
            </md-tab-label>
            <md-tab-body>
              <div  class="wrapper">
                <app-accordion
                  id="accordion-1"
                  header-content="$ctrl.headerContent1"
                  body-content="$ctrl.bodyContent"
                  >
                </app-accordion>
                <app-accordion
                  id="accordion-2"
                  header-content="$ctrl.headerContent2"
                  body-content="$ctrl.bodyContent"
                  >
                </app-accordion>
              </div>
            </md-tab-body>
          </md-tab>
          <md-tab id="tab2">
            <md-tab-label>Html</md-tab-label>
            <md-tab-body>
            <div class="wrapper">
             <code class="highlight" >
                <span><span class="label-color">&lt;app-accordion</span></span>
                <span><span class="class-color">header-content</span><span class="label-color">=</span>"$ctrl.headerContent1"</span>
                <span><span class="class-color">body-content</span><span class="label-color">=</span>"$ctrl.bodyContent"</span>
                <span><span class="label-color">&lt;/</span><span class="label-color">app-stepper</span><span class="label-color">&gt;</span></span>
            </code>
            </div>
            </md-tab-body>
          </md-tab>
          <md-tab id="tab3">
            <md-tab-label>JS</md-tab-label>
            <md-tab-body>
              <div class="wrapper">
              <code class="highlight">
                <span>ctrl.title <span class="label-color">= 'Example 2';</span></span>
                <span>ctrl.stepperApi <span class="label-color">= '{}';</span></span>
                <span>ctrl.steps <span class="label-color">= '{}';</span></span>
                <span>ctrl.id <span class="label-color">= 'app-stepper-demo-2';</span></span>
             </code>
             </div>
            </md-tab-body>
          </md-tab>
          <md-tab id="tab4">
            <md-tab-label>CSS</md-tab-label>
            <md-tab-body>
            <div class="wrapper">
               <code class="highlight"><span><span class="class-color">.expandcollapse-heading-collapsed span</span>{</span>
                  <span>font-size: 16px;</span>
                  <span>margin:0px;</span>
                  <span>}</span>
                  <span><span class="class-color">.expandcollapse-heading-expanded span</span>{</span>
                  <span>font-size: 32px;</span>
                  <span>}</span>
                  <span><span class="class-color">.expandcollapse-heading-collapsed</span>{</span>
                  <span>height:20px;</span>
                  <span>}</span>
                  <span><span class="class-color">.expandcollapse-heading-collapsed:not(.noHover):hover</span>{</span>
                  <span>padding-bottom: 30px;</span>
                  <span>}</span>
                  <span><span class="class-color">.animate-show-hide</span> {</span>
                  <span> transition:0.2s opacity linear; </span>
                  <span> transition-delay: 0.3s; </span>
                  <span> opacity:1; </span>
                  <span></span>
                  <span>}</span>
                     <span><span class="class-color">.animate-show-hide.ng-hide</span> {</span>
                  <span> transition:0.2s opacity linear; </span>
                  <span> transition-delay: 0.1s; </span>
                  <span> opacity:0; </span>
                  <span>}</span>
                </code>
                </div>
            </md-tab-body>
          </md-tab>
          <md-tab id="tab5">
            <md-tab-label>Options</md-tab-label>
            <md-tab-body>
             <md-content>
                <md-list>
                  <md-list-item class="md-3-line" ng-repeat="option in $ctrl.options">
                      <div class="md-list-item-text">
                        <h3>{{option.name}}</h3>
                        <h4>{{option.type}}</h4>
                        <p>{{option.description}}</p>
                      </div>
                      <md-divider ng-if="!$last"></md-divider>
                  </md-list-item>
                </md-list>
              </md-content>
            </md-tab-body>
          </md-tab>

        </md-tabs>
      </md-content>
    </div>
</div>
