<div>
  <aside id="aside" class="app-aside hidden-xs bg-light">
      <div class="aside-wrap">
        <div class="navi-wrap">
          <nav class="navi clearfix">
            <div class="panel panel-default m-t-lg">
              <div class="panel-heading">
                <h5 class="font-bold">COMPONENTS</h5>
              </div>
              <div class="list-group bg-white">
                <a href class="list-group-item">
                  <i class="fa fa-fw fa-envelope"></i> Forms
                </a>
                <a href class="list-group-item">
                  <i class="fa fa-fw fa-eye"></i> UI Grid
                </a>
                <a href class="list-group-item">
                  <i class="fa fa-fw fa-phone"></i> Stepper
                </a>
                <a href class="list-group-item">
                  <i class="fa fa-fw fa-comments-o"></i> Panels
                </a>
                <a href class="list-group-item">
                  <i class="fa fa-fw fa-bookmark"></i> Chosen
                </a>
                <a href class="list-group-item">
                  <i class="fa fa-fw fa-bell"></i> Notifications
                </a>
              </div>
            </div>
          </div>
        </div>
  </aside>
  <section class="app-section-content">
    <header class="section-header bg-light lter b-b wrapper-md">
      <h2 class="m-n font-thin">Forms</h2>
    </header>
    <div class="wrapper-md bg-white">
      <div class="row">
        <div class="col-sm-12 connected">
          <h3>Buttons</h3>
          <button class="btn btn-success">primary</button>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
