<div class="row">
    <div class="col-xs-2">
        <div class="row">
            <div class="col-xs-6">
                <input
                 type="text"
                 class="form-control"
                 ng-model="$ctrl.body.pressure.systolic"
                >
                <label class="m-l-sm">Systolic</label>
            </div>
            <div class="col-xs-6">
                <input
                type="text"
                class="form-control"
                ng-model="$ctrl.body.pressure.diastolic"
                >
                <label class="m-l-xs">Diastolic</label>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="input-group w-md">
            <input
            type="text"
            class="form-control"
            uib-datepicker-popup="MM/dd/yyyy"
            ng-model="$ctrl.body.response"
            is-open="$ctrl.isPickerOpened"
            datepicker-options="$ctrl.dateOptions" />
            <span class="input-group-btn">
                <button
                type="button"
                class="btn btn-default"
                ng-click="$ctrl.openPicker()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>
</div>


