<div ng-cloak>
  <md-content>
    <br>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon md-font-icon="icon-home"></md-icon>
        </md-button>

        <h2 flex md-truncate>Basic Metabolic Panel</h2>
        <button class="app__stepper-button" ng-click="$ctrl.isOpen = !$ctrl.isOpen">></button>

        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="accordion__content" ng-show="$ctrl.isOpen">
      <div class="accordion__content--padding">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat nam at non amet tempore delectus itaque suscipit molestiae quas, saepe soluta officia veniam, iste recusandae ipsa esse maxime, sint aspernatur.</div>
        <div>Minima, harum nulla praesentium. Corporis molestiae et perspiciatis quaerat architecto. Ad eligendi unde esse nesciunt, facere repellat? Eius laboriosam, dolor. Ullam culpa nobis autem assumenda voluptatibus magnam, illum voluptatum delectus.</div>
        <div>Nihil recusandae ab, provident distinctio numquam voluptas a eveniet autem, aspernatur dolorum, odit expedita fugiat saepe. Impedit sapiente numquam, sed magni expedita magnam veritatis animi error odio perferendis, cumque sit?</div>
        <div>Excepturi commodi, praesentium cum laborum maxime! In repudiandae sunt magnam placeat esse rem assumenda laboriosam facilis enim, qui dolorem dolor veniam quod quasi nemo, non illo quam est, perferendis ut!</div>
        <div>Veniam provident laboriosam officia cum a vero, aperiam, atque illo architecto et ex sit perferendis, ducimus nobis dolor consectetur ut repellat dolores explicabo iste? Officiis, quas, delectus? Atque obcaecati, saepe.</div>
      </div>
    </div

    <br>

  </md-content>
</div>
