<header class="header">
  <div class="header__fixed">
    <div>
      <div class="header__brand">
       <div class="btn-group" uib-dropdown dropdown-append-to-body>
         <a id="single-button" uib-dropdown-toggle ng-disabled="disabled">
           {{$ctrl.state}} <span class="caret" ng-if="$ctrl.state === 'components'"></span>
         </a>
         <ul ng-if="$ctrl.state === 'components'" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
           <li role="menuitem"><a href="#">Forms</a></li>
           <li role="menuitem"><a href="#">Layout</a></li>
         </ul>
       </div>
      </div>
    </div>
  </div>
</header>
