// // Core variables and mixins
@import "angulr/app.variables.less";
@import "angulr/app.mixins.less";
@import "angulr/app.reset.less";
@import "angulr/app.layout.less";
// @import "angulr/app.layout.boxed.less";
// @import "angulr/app.nav.less";
// @import "angulr/app.nav.offscreen.less";
// @import "angulr/app.nav.dock.less";
//
// @import "angulr/app.arrow.less";
// @import "angulr/app.buttons.less";
// @import "angulr/app.widgets.less";
//
 @import "angulr/app.components.less";
// @import "angulr/app.plugin.less";
// @import "angulr/app.item.less";
// @import "angulr/app.ng.less";
//
@import "angulr/app.colors.less";
@import "angulr/app.utilities.less";
//
// @import "angulr/app.butterbar.less";


// Tabs CSS
.wrapper-options{
  width:50%;
}
md-tab-item.md-tab.md-ink-ripple {
    color: white;
}
md-tooltip.ng-isolate-scope.md-origin-right.md-panel.md-tooltip.md-show {
    font-size: 12px;
    background-color: black;
    opacity: 0.8;
}
.wrapper-options span {
    display: block;
}
md-tabs-content-wrapper._md {
    background-color: rgb(250,250,250);
}
md-tabs.md-accent-tab{
    height: 500px;
}
code{
  background-color:transparent;
  color: currentColor;
  padding:0px;
}
span.class-color {
    color: teal;
}
span.label-color {
    color: purple;
}
.modal-header ,.modal-footer,.md-accent-tab>md-tabs-wrapper {
    background: #3695eb;
}

ul.header-options {
    padding-top: 20px;
}

.highlight > span {
    display: block;
}
// Modal Css
.white-text {
      color: #FFF;
}
.modal-header.white-text {
    position: absolute;
    width: 101%;
    z-index: 999;
    padding: 20px;
}
.modal-dialog.modal-lg {
    width: 100%;
    margin: 0px;
}
.accordion-modal-body {
    padding-top: 80px;
    min-height: 670px;
}
.modal-body {
    padding-top: 80px;
}
// Header Expandable Css
.expandcollapse-heading-collapsed {
  height:64px!important; 
}
.expandcollapse-heading-expanded{
}
.expandcollapse-heading-collapsed:not(.noHover):hover{
   padding-bottom: 50px;
}
.expandcollapse-heading-collapsed span{
font-size: 16px;
margin:0px;
}
.expandcollapse-heading-expanded span{
font-size: 32px;
transition: 0.1s all linear;
transition-delay: 0.3s;
}
.col-xs-12.animate-show-hide{
  transition:0.2s opacity linear;
  -webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.3s;
  opacity:1;
}
.col-xs-12.animate-show-hide.ng-hide{
  opacity:0;
  -webkit-transition-delay: 0.01s; /* Safari */
  transition-delay: 0.01s;
}

