// // Core variables and mixins
@import "angulr/app.variables.less";
@import "angulr/app.mixins.less";
@import "angulr/app.reset.less";
@import "angulr/app.layout.less";
// @import "angulr/app.layout.boxed.less";
// @import "angulr/app.nav.less";
// @import "angulr/app.nav.offscreen.less";
// @import "angulr/app.nav.dock.less";
//
// @import "angulr/app.arrow.less";
// @import "angulr/app.buttons.less";
// @import "angulr/app.widgets.less";
//
 @import "angulr/app.components.less";
// @import "angulr/app.plugin.less";
// @import "angulr/app.item.less";
// @import "angulr/app.ng.less";
//
@import "angulr/app.colors.less";
@import "angulr/app.utilities.less";
@import "aristamd/app.stepper.less";
//
// @import "angulr/app.butterbar.less";
@import "angulr/app.tabs.less";



// Modal Css
.white-text {
      color: #FFF;
}
.modal-header.white-text {
    position: absolute;
    width: 101%;
    z-index: 999;
    padding: 20px;
}
.modal-dialog.modal-lg {
    width: 100%;
    margin: 0px;
}
.accordion-modal-body {
    padding-top: 80px;
    min-height: 670px;
}
.modal-body {
    padding-top: 80px;
}
