<div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <h4>Developer Productivity</h4>
        <p>
          Since smart people are the most precious resource you have any framework or architecture we adopt needs to help optimize developer productivity time.
          How to achieve this?
                Tools
                Standards
        </p>
      </div>
      <div>
        <h4>Usability</h4>
        <p>Usability is vitally important for a number of reasons. It improves trust, customer satisfaction and reduces support costs. Any technology you use should allow you to build a world class user experience.
          How to achieve this?
          Great Client Support
          Consistent and Reliable UX
          Fast UI Response Times
      </p>
      </div>
      <div>
        <h4>Scalability</h4>
        <p>Scalability is the ability of a system to either handle increases in load without impact on the performance of the system, or the ability to be readily enlarged.
          How to achieve this?
          Dev Research (scalate knowledge)
          Multitenant Support (Plug and Play) is there a date for this?
          Strong Foundations
          Technology Decentralization
        </p>
      </div>
      <div>
        <h4>Testability</h4>
        <p>Testability is a measure of how well a system or components allow you to create test criteria and execute tests to determine if the criteria are met.
            How to accomplish?
            Basic Functionality Coverage
            Integrated to Process
        </p>
      </div>
    </div>
  </div>
</div>
