<div class="modal-header" 
    ng-mousedown='$ctrl.mouseDown()'
    ng-mouseup='$ctrl.mouseUp()'
    ng-click="$ctrl.onClickAccordion($event)"
    ng-class="{'expandcollapse-heading-collapsed': !$ctrl.isExpanded, 'expandcollapse-heading-expanded': $ctrl.isExpanded,'noHover': !$ctrl.nudge}">
	<div class="col-xs-12 titles">
	    <span class="pull-left"> {{$ctrl.titleLeft}}</span>
	    <span class="pull-right"> {{$ctrl.titleRight}}</span>
	</div>
    <div  class="col-xs-12 animate-show-hide" ng-show="$ctrl.isExpanded">
        <div class="row">
            <div class="col-xs-6 amd__modal-content-left no-padder" app-dynamic="$ctrl.contentLeft">
            </div>
            <div class="col-xs-6 amd__modal-content--right-align" app-dynamic="$ctrl.contentRight">
            </div>
        </div>
    </div>
</div>
