// Header Expandable Css
.accordion-modal-body {
    padding-top: 80px;
    min-height: 670px;
}
.expandcollapse-heading-collapsed {
  height:64px!important;
}
.expandcollapse-heading-collapsed:not(.noHover):hover{
   padding-bottom: 50px;
}
.expandcollapse-heading-collapsed span{
  font-size: 1.571em;
  margin:0px;
}
.expandcollapse-heading-expanded span{
  font-size: 2.143em;
  transition: 0.1s all linear;
  transition-delay: 0.3s;
}
.col-xs-12.animate-show-hide{
  transition:0.2s opacity linear;
  -webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.3s;
  opacity:1;
}
.col-xs-12.animate-show-hide.ng-hide{
  opacity:0;
  -webkit-transition-delay: 0.01s; /* Safari */
  transition-delay: 0.01s;
}
.animate-show-hide {
    font-size: 12px;
}
.titles {
    margin-bottom: 18px;
}
.titles span:first-child{
    padding-left: 3%;
}

.amd__modal-content-left label:first-child{
    font-size: 0.917em;
    font-weight: 300;
    color: #CCE4FA; 
}

.app__header-btn,.app__header-btn:hover ,.app__header-btn:focus , .app__header-btn .md-stepper-icon{
   font-size: 11px;
   color: #58A7EE;
}
.amd__modal-content--left
{
    width: 78%;
    text-align: right;
    margin-right: 4%;
    margin-bottom: 10px;
    vertical-align: sub;
}
.amd__modal-content--right-align{
  text-align:right;
  width: 50%;
}
.amd__modal-content--right-align + label {
    margin-left: 5%;
    width: 40%;
}
.app__header-icon--align{
  vertical-align:top;
}

.app__header-content-div{
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-left: 5%;
}