html, body {
    height:100%; /*both html and body*/
}
body {
    margin: 0; /*reset default margin*/
}

.modal-header {
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding: 20px;
    color:white;
}
.modal-dialog.modal-lg {
    width: 100%;
    margin: 0px;
    height:100%;
}
.modal-footer, .modal-header{
	background-color:@brand-primary;
}
.modal-body{
	width: 72%;
	margin: 0 auto;
	box-shadow: 0px 8px 9px #888888;
	padding: 0;
	height:100%;
}
.modal-content {
    background-color: whitesmoke;
    height:100%;
}
.modal-content .wrapper-md.bg-white {
    padding: 0px;
    height: 100%;
}
md-step-body.wrapper{
   height: auto;
    overflow: scroll;
    padding: 20px 25px 0px;
}
.modal-footer.separator {
    position: absolute;
    bottom: 0PX;
    width: 100%;
}
md-step-actions.modal-footer.ng-scope {
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.row, .col-sm-12, #app__stepper-demo-2 {
    height: 100%;
}
md-stepper#app-stepper-demo-2 {
    height: 93%;
}
.md-steppers.md-steppers-linear.flex {
    height: 100%;
}
md-steppers-content.md-steppers-content {
    height: 91%;
}
.md-stepper.md-active {
    height: 100%;
}
md-steppers-scope.md-steppers-scope.ng-scope.layout-column {
    height: 100%;
}