md-step-body.wrapper.ng-scope{
	height:300px;
}
.app__stepper-body{
	margin-bottom:20px;
}
.md-steppers-header.md-whiteframe-1dp, .md-steppers-header.md-whiteframe-z1 {
    box-shadow: none;
}
.md-steppers-header-region {
    position: relative;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}

.modal-footer{
	background-color:#3695eb;	
}
.md-button.app__stepper-button--primary-color{
	color: #fff;
    background-color: #23ad44;
    border-color: #20a03f;
    float:right;

}
.md-button.app__stepper-button--primary-color.md-raised:not([disabled]):hover , .md-button:not(disabled).md-raised.md-focused.app__stepper-button--primary-color  {
    background-color: #23ad44;
}
button.md-button {
	background-color: #fff;
	border-color: #dee5e7;
	border-bottom-color: #d8e1e3;
	box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
	font-weight: 500;
    border-radius: 2px;
    outline: 0!important;
   color: #58666e;
    font-size: 11px;
    height: 24px;
    margin: 0px 5px;
    float: left;
    padding: 0px 20px;
}