// Header Expandable Css
.accordion-modal-body {
    padding-top: 80px;
    min-height: 670px;
}
.expandcollapse-heading-collapsed {
  height:64px!important;
}
.expandcollapse-heading-collapsed:not(.noHover):hover{
   padding-bottom: 50px;
}
.expandcollapse-heading-collapsed span{
  font-size: 1.571em;
  margin:0px;
}
.expandcollapse-heading-expanded span{
  font-size: 2.143em;
  transition: 0.1s all linear;
  transition-delay: 0.3s;
}
.col-xs-12.animate-show-hide{
  transition:0.2s opacity linear;
  -webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.3s;
  opacity:1;
}
.col-xs-12.animate-show-hide.ng-hide{
  opacity:0;
  -webkit-transition-delay: 0.01s; /* Safari */
  transition-delay: 0.01s;
}
.animate-show-hide {
    font-size: 12px;
}
.amd__modal-content-left div label:first-child{
 font-size: 0.917em;
    font-weight: 300;
    color: #CCE4FA;
  
}
.content-left label:first-child {
    width: 51%;
}
.content-left div label:nth-child(2) {
    margin-left: 5%;
    width: 40%;
}
.content-right div label:nth-child(2) {
    margin-left: 5%;
}
.amd__modal-content--right-align label{
    margin-right:5%;
   margin-bottom: 4%;
    width: 64%;
}
.titles {
    margin-bottom: 18px;
}
.titles span:first-child{
    margin-left: 3%;
}

.amd__modal-content--right-align button,.amd__modal-content--right-align button:hover ,.amd__modal-content--right-align button:focus , .amd__modal-content--right-align button .md-stepper-icon{
   font-size: 11px;
   color: #58A7EE;
}

.amd__modal-content--right-align{
  text-align:right
}

.app__header-icon--align{
  vertical-align:top;
}

.app__header-content-div{
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-left: 5%;
}